/********************************* Variables *********************************
***********************************************************************************
***********************************************************************************/
/********************************* Fonts *********************************
***********************************************************************************
***********************************************************************************/
/* Font Name : din-next-lt-w23 */
/********************************* Variables *********************************
***********************************************************************************
***********************************************************************************/
@font-face {
  font-family: "regular";
  src: url("../webfonts/neo-sans-arabic-cufonfonts/Neo Sans Arabic Regular.ttf");
}
@font-face {
  font-family: "bold";
  src: url("../webfonts/neo-sans-arabic-cufonfonts/NeoSansArabicBold.ttf");
}
@font-face {
  font-family: "Tajawal-regular";
  src: url("../webfonts/Tajawal/Tajawal-Regular.ttf");
}
/********************************* Custom Element *********************************
***********************************************************************************
***********************************************************************************/
body {
  font-family: "regular", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  font-size: 16px;
  height: 3000px;
}

a {
  text-decoration: none;
  font-family: "regular";
  color: #FFFFFF !important;
}

.navbar-toggler:hover, .navbar-toggler:active, .navbar-toggler:focus {
  box-shadow: none;
  border-color: transparent;
}

p {
  margin-bottom: 0;
}

input:active, input:focus {
  box-shadow: none !important;
  border-color: #01185C;
}

.custom-heading {
  color: #01185C;
  font-size: 40px;
  position: relative;
  display: inline-block;
  font-family: "bold";
  margin-bottom: 25px;
}
.custom-heading::after, .custom-heading::before {
  content: "";
  width: 80%;
  height: 1px;
  background-color: #01185C;
  display: inline-block;
  position: absolute;
  bottom: -5px;
  right: 0;
}
.custom-heading::before {
  content: "";
  bottom: -12px;
  width: 70%;
  right: 0;
}
.custom-heading.small {
  font-size: 30px;
  font-family: "regular";
  margin-bottom: 35px;
}

.desc {
  font-size: 16px;
  line-height: 1.7;
  color: rgb(92, 92, 92);
  margin-bottom: 15px;
  display: flex;
}
.desc.list::before {
  content: "";
  background: url("../../../images/navbar-list.png") no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-left: 10px;
}

.py {
  padding: 50px 0;
}

.custom-btn {
  color: #01185C;
  border: 1px solid #01185C;
  font-family: "regular";
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: transparent;
  padding: 10px 15px;
  border-right-color: transparent;
}

@media (max-width: 767px) {
  .custom-heading {
    font-size: 22px !important;
    margin-bottom: 20px;
  }
  .custom-heading.small {
    font-size: 18px !important;
  }
  .desc {
    font-size: 14px !important;
  }
}
/********************************* End Global *********************************
***********************************************************************************
***********************************************************************************/
.topBar {
  padding: 10px;
  background-color: #01185C;
}
.topBar .icons svg, .topBar .icons i {
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
}

@media (max-width: 767px) {
  .topBar .text {
    font-size: 14px !important;
  }
  .topBar .icons svg, .topBar .icons i {
    font-size: 14px;
  }
}
.top-Information {
  padding: 30px 0;
}
.top-Information .top-information-item .item {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
.top-Information .top-information-item .item:hover .icon, .top-Information .top-information-item .item:active .icon, .top-Information .top-information-item .item:focus .icon {
  background-color: #01185C;
  border: 1px solid #fff;
}
.top-Information .top-information-item .item:hover .icon svg, .top-Information .top-information-item .item:hover .icon i, .top-Information .top-information-item .item:active .icon svg, .top-Information .top-information-item .item:active .icon i, .top-Information .top-information-item .item:focus .icon svg, .top-Information .top-information-item .item:focus .icon i {
  color: #fff;
}
.top-Information .top-information-item .item .icon {
  transition: all 0.2s ease;
  border: 1px dashed #929292;
  padding: 20px;
  display: inline-block;
  border-radius: 8px;
  border-bottom-right-radius: 0;
}
.top-Information .top-information-item .item .icon svg, .top-Information .top-information-item .item .icon i {
  color: #929292;
  font-size: 25px;
  transition: all 0.2s ease;
}
.top-Information .top-information-item .item .body .desc {
  color: #758494;
}
.top-Information .top-information-item .item .body .head {
  font-size: 20px;
}
@media (max-width: 767px) {
  .top-Information {
    padding: 15px !important;
  }
  .about_features {
    margin-top: 20px !important;
  }
  .about_features .item .count {
    font-size: 22px !important;
  }
  .about_features .item .title {
    font-size: 18px !important;
  }
  .about {
    padding: 50px 0 !important;
  }
}
.text {
  margin-bottom: 0;
  color: #fff;
}

.custom-navbar {
  background-color: #E8E8E8;
  padding: 0;
}
.custom-navbar .navbar-nav .nav-item .nav-link {
  color: #01185C !important;
  font-size: 18px;
  border-top: 3px solid transparent;
  padding: 15px;
  position: relative;
  transition: all 0.2s ease;
}
.custom-navbar .navbar-nav .nav-item .nav-link.active {
  border-color: #01185C;
}
.custom-navbar .navbar-nav .nav-item .nav-link.active::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  border: 10px solid transparent;
  border-top-color: #01185C;
}
.custom-navbar .custom-dropdown .dropdown-menu::after {
  content: "";
  border: 10px solid transparent;
  border-bottom-color: #fff;
  position: absolute;
  top: -20px;
  right: 20px;
  transform: translate(-50%, 0);
}
.custom-navbar .custom-dropdown .dropdown-menu li {
  border-bottom: 1px solid #eef0ea;
}
.custom-navbar .custom-dropdown .dropdown-menu li .dropdown-item {
  color: #01185C !important;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  font-family: "Tajawal-regular";
  font-size: 18px;
}
.custom-navbar .custom-dropdown .dropdown-menu li .dropdown-item:active, .custom-navbar .custom-dropdown .dropdown-menu li .dropdown-item:focus {
  background-color: #01185C;
  color: #fff !important;
}
.custom-navbar .custom-dropdown .dropdown-menu li .dropdown-item::before {
  content: "";
  background-image: url("../images/navbar-list.png");
  background-repeat: no-repeat;
  width: 15px;
  height: 23px;
  display: inline-block;
}
.custom-navbar .form-nav {
  position: relative;
}
.custom-navbar .form-nav button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  padding: 0;
}
.custom-navbar .form-nav input {
  padding-right: 30px;
}
.custom-navbar .form-nav .search-nav {
  position: relative;
}

.custom-offcanvas {
  background-color: #E8E8E8;
  width: 90%;
  height: 100vh;
}
.custom-offcanvas .offcanvas-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.custom-offcanvas .offcanvas-header .logo img {
  width: 60%;
}
.custom-offcanvas .offcanvas-header .btn-close {
  position: absolute;
  top: 15px;
  left: 15px;
}
.custom-offcanvas .offcanvas-header .btn-close:active, .custom-offcanvas .offcanvas-header .btn-close:focus {
  box-shadow: none;
}
.custom-offcanvas .custom-navbar .nav-item:last-of-type .nav-link {
  border-bottom-color: transparent;
}
.custom-offcanvas .custom-navbar .nav-link {
  border-bottom: 1px solid #c9c9c9;
}
.custom-offcanvas .custom-navbar .nav-link.active {
  border-color: #c9c9c9 !important;
  border-top: none !important;
}
.custom-offcanvas .custom-navbar .nav-link.active::after {
  display: none;
}
.custom-offcanvas .custom-navbar .nav-link:hover, .custom-offcanvas .custom-navbar .nav-link:active, .custom-offcanvas .custom-navbar .nav-link:focus {
  background-color: #01185C;
  color: #fff !important;
}

.custom-swiper {
  position: static !important;
}

.header-slider {
  background-image: url("../images/slider.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.header-slider .overlay {
  padding: 30px 0;
  background-color: rgba(1, 24, 92, 0.74);
  width: 100%;
  position: relative;
}
.header-slider .custom-swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header-slider .custom-swiper-slide .custom-head {
  color: #fff;
  font-size: 35px;
  margin-bottom: 15px;
  font-family: "bold";
}
.header-slider .custom-swiper-slide .slider-desc {
  line-height: 1.7;
  color: #fff;
  font-size: 16px;
}
.header-slider .custom-swiper-slide .more {
  color: #fff;
  margin: 20px 0;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.header-slider .custom-swiper-slide .more:active, .header-slider .custom-swiper-slide .more:focus {
  box-shadow: none;
}
.header-slider .custom-swiper-slide .more .keyword {
  position: relative;
}
.header-slider .custom-swiper-slide .more .keyword::after, .header-slider .custom-swiper-slide .more .keyword::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  bottom: -3px;
  right: 0;
}
.header-slider .custom-swiper-slide .more .keyword::before {
  content: "";
  bottom: -10px;
  width: 80%;
  right: 50%;
  transform: translate(50%, 0);
}
.header-slider .swiper-button-prev, .header-slider .swiper-button-next {
  font-size: 20px;
  position: absolute;
  bottom: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 100px;
  height: 50px;
  border: 2px solid #fff;
  transition: all 0.2s ease;
}
.header-slider .swiper-button-prev:hover, .header-slider .swiper-button-next:hover {
  width: 130px;
  border-color: #fff;
}
.header-slider .swiper-button-prev::after, .header-slider .swiper-button-next::after {
  background-image: url("../images/navbar-list.png");
  background-repeat: no-repeat;
  background-position: center left;
  content: "" !important;
  width: 30px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-slider .swiper-button-prev {
  flex-direction: row-reverse;
  border-left-color: transparent;
}
.header-slider .swiper-button-prev::after {
  transform: rotate(180deg) !important;
}
.header-slider .swiper-button-next {
  border-right-color: transparent;
  transition: all 0.2s ease;
}

.swiper {
  width: 100%;
  height: 500px;
}

.swiper-pagination-bullet {
  background-color: transparent !important;
  color: rgba(255, 255, 255, 0.44);
  font-size: 30px;
  margin-left: 10px;
  display: inline-block;
  width: auto !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: transparent !important;
  color: #fff;
}

.custom-swiper-pagination {
  bottom: 25px !important;
}

.about {
  padding: 80px 0;
  background-image: url("../images/about_top.svg");
  background-repeat: no-repeat;
  background-position: top right;
}
.about .about_features {
  margin-top: 25px;
}
.about .about_features .item {
  text-align: center;
}
.about .about_features .item .icon {
  margin-bottom: 10px;
}
.about .about_features .item .count {
  font-size: 35px;
  color: #929292;
  font-family: "bold";
}
.about .about_features .item .title {
  color: #01185C;
  font-size: 25px;
}

@media (max-width: 768px) {
  .custom-swiper-slide .custom-head {
    font-size: 22px !important;
  }
}
.custom-nav-tabs {
  border-bottom: 0;
  justify-content: center;
  align-items: center;
}
.custom-nav-tabs .nav-link {
  background-color: #E8E8E8;
  border-radius: 0;
  padding: 15px 20px;
  font-size: 18px;
  color: #01185C;
  transition: all 0.2 ease;
  position: relative;
  width: 200px;
}
.custom-nav-tabs .nav-link.active {
  color: #fff;
  background-color: #01185C;
}
.custom-nav-tabs .nav-link.active::after {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, 0);
  content: "";
  border: 10px solid transparent;
  border-top-color: #01185C;
}

@media (max-width: 767px) {
  .custom-nav-tabs .nav-link {
    font-size: 16px !important;
    width: auto !important;
  }
}
.services {
  background-color: rgba(1, 24, 92, 0.02);
  background: url("../images/all.svg") no-repeat;
  background-position: top right;
}

.Management .swiper {
  height: auto;
}
.Management .slide-item {
  position: relative;
  transition: all 0.2s ease;
  cursor: pointer;
  margin-bottom: 20px;
}
.Management .slide-item:hover .info, .Management .slide-item:active .info, .Management .slide-item:focus .info {
  opacity: 1;
}
.Management .slide-item .custom-btn {
  color: #fff;
  border-color: rgb(255, 255, 255);
  border-right-color: transparent;
  margin: 10px 0;
}
.Management .slide-item .info {
  transition: all 0.2s ease;
  background-color: #01185C;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 25px 50px 25px 25px;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  z-index: 1;
}
.Management .slide-item .info::before {
  background: url("../images/line.svg") no-repeat;
  background-position: top right;
  content: "";
  position: absolute;
  top: -10px;
  left: 15px;
  width: 100%;
  height: 90%;
}
.Management .slide-item .info h4 {
  color: #fff;
  font-size: 25px;
  font-family: "regular";
}
.Management .slide-item .info .text {
  color: rgb(255, 255, 255);
  margin: 0 0;
}
.Management .slide-item .info .custom-btn {
  padding: 5px 15px;
}
.Management .swiper-buttons {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: red;
  width: 100%;
}
.Management .swiper-buttons .swiper-button-next:after, .Management .swiper-buttons .swiper-button-prev:after {
  display: none;
}
.Management .swiper-buttons .swiper-button-next, .Management .swiper-buttons .swiper-button-prev {
  color: #01185C;
  border: 1px solid #01185C;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Management .swiper-buttons .swiper-button-prev {
  left: 55px !important;
  right: auto !important;
}
.Management .swiper {
  position: relative;
  padding-top: 80px;
}

.our_customers {
  background-color: #E8E8E8;
  background-image: url("../images/allc.svg");
  background-position: top left;
  background-repeat: no-repeat;
}
.our_customers .our_cus_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.our_customers .our_cus_items .item {
  text-align: center;
}
.our_customers .our_cus_items .item .logo img {
  width: 70%;
}
.our_customers .our_cus_items .item .title {
  margin: 10px 0;
  color: #01185C;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .our_customers .our_cus_items {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .our_customers .our_cus_items .logo img {
    width: 50%;
  }
  .our_customers .our_cus_items .item .title {
    font-size: 16px !important;
  }
  .copyright-inside {
    font-size: 14px !important;
  }
  .footer-nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0 !important;
  }
  .footer-nav .nav-link {
    font-size: 14px !important;
  }
}
.footer {
  position: relative;
  background-image: url("../images/footer.svg");
  background-size: cover;
}
.footer .overlay {
  height: auto;
  background-color: rgba(1, 24, 92, 0.91);
  width: 100%;
}
.footer .footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.footer .footer-nav .nav-link {
  padding: 15px 20px;
  font-size: 18px;
}
.footer .copyright {
  background-color: #fff;
  padding: 15px 0;
}
.footer .copyright .copyright-inside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: "bold";
}
.footer .copyright svg, .footer .copyright i {
  color: red;
}/*# sourceMappingURL=style.css.map */