/********************************* Variables *********************************
***********************************************************************************
***********************************************************************************/


$mainColor : #01185C ;
$secondColor : #E8E8E8;


$blackColor : #000 ;
$whiteColor : #fff;
$grayColor : #758494 ;
$textColor : #5C5C5C ;





$RegularFont : "regular" ;
$boldFont : "bold" ;

$TajawalReg : 'Tajawal-regular';

$heading1 : 20px ;
$fontRegSmall : 14px ;
$fontHeadSmall : 18px ;

