.services {
    background-color: rgba(1, 24, 92, 0.02);
    background: url("../images/all.svg") no-repeat;
    background-position: top right;
}

.Management {
    .swiper {
        height: auto;
    }
    .slide-item {
        position: relative;
        transition: all .2s ease;
        cursor: pointer;
        margin-bottom: 20px;
        &:hover , 
        &:active , 
        &:focus {
            .info {
                
                opacity: 1;
            }
        }
        .custom-btn {
            color: $whiteColor;
            border-color: rgba(255, 255, 255, 1);
            border-right-color: transparent;
            margin: 10px 0;
        }
        .info {
            transition: all .2s ease;
            background-color: $mainColor;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 25px 50px 25px 25px;
            display: flex;
            opacity: 0;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            z-index: 1;
   
            &::before {
                background: url("../images/line.svg") no-repeat;
                background-position: top right;
                content: "";
                position: absolute;
                top: -10px;
                left: 15px;
                width: 100%;
                height: 90%;

            
            }
            h4 {
                color: $whiteColor;
                font-size: 25px;
                font-family: $RegularFont;

            }
            .text {
                color: rgba(255, 255, 255, 1);
                margin: 0 0;

            }
            .custom-btn {
                padding: 5px 15px;
            }
        }
    }
    .swiper-buttons {
        position: absolute;
        top: 50px;
        left: 0;
        background-color: red;
        width: 100%;
        .swiper-button-next:after, .swiper-button-prev:after {
            display: none;
        }
        .swiper-button-next, .swiper-button-prev {
            color: $mainColor;
            border: 1px solid $mainColor;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-button-prev {
            left: 55px !important;
            right: auto !important;
        }
    }
    .swiper {
        position: relative;
        padding-top: 80px;

    }
}


.our_customers {
    background-color: $secondColor;
    background-image: url("../images/allc.svg");
    background-position: top left;
    background-repeat: no-repeat;
    .our_cus_items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .item {
            text-align: center;
            .logo {
                img {
                    width: 70%;
                }
            }
            .title {
                margin: 10px 0;
                color: $mainColor;
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
}


@media (max-width : 767px) {
    .our_customers {
        .our_cus_items {
            display: flex;
            gap: 15px;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            .logo {
                img {
                    width: 50% ;
                }
            }
            .item {
                .title {
                    font-size: 16px !important;
                }
            }
        }
    }
    .copyright-inside {
        font-size: 14px !important;
    }
    .footer-nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0 !important;
        
        .nav-link {
            font-size: 14px !important;
        }
    
    }
}

.footer {
    position: relative;
    background-image: url("../images/footer.svg");
    background-size: cover;


    .overlay {
        height: auto;
        background-color: rgba(1, 24, 92, 0.91);
        width: 100%;


    }

    .footer-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        
        .nav-link {
            padding: 15px 20px;
            font-size: 18px;
        }
    }
    .copyright {
        background-color: $whiteColor;
        padding: 15px 0;

        .copyright-inside {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
            color: $boldFont;
        }
     

        svg , i {
            color: red;
        }
    }
}